.App {
  text-align: center;
  padding-top:30px;
}

.App-title {
  font-size: 50px;
  font-weight:100;
  color: #EAD7D8;
  padding-bottom:10px;
}

.todos-writingSpace {
  height:35px;
  width:350px;
  border:solid 1px #E6E6E6;
  border-width: 1px 1px 1px 0;
  font-style: italic;
  outline:none; 
  padding:0;
}

.todos-writingSpace::placeholder {
  color:#EEEEEE;
  font-size:20px;
}

.button{
  height:35px;
  width:50px;
  color:#E6E6E6;
  background: white;
  border: solid 1px #E6E6E6; 
  border-width: 1px 0 1px 1px; 
  font-size:20px;
  font-weight: bold;
  padding:0;
  box-sizing:content-box;
  outline:none;
}

.todo {
  height:35px;
  width:400px;
  border:solid 1px #EDEDED;
  margin:auto;
  list-style: none;
}

.fieldSet {
  display: flex;
  justify-content: center;
}

.blackButton {
  color:black;
}

.checkbox {
  position:absolute;
}

.check-container {
  display: flex;
  position: relative;
}

.done {
  color:#D9D9D9;
  text-decoration:line-through;
}


